body {
    background-color: beige;
}

.movie-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background: white;
    margin-bottom: 2rem;
}

.card img {
    max-width: 350px;
    margin: 4rem;
    
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: center;
}

.plot {
    padding: 4rem;
}